<div
  style="display: flex;">
  <div
    style="width: 66vw"
  >
    <google-map
      width="100%"
      height="100vh"
      [zoom]="zoom"
      [center]="center"
      [options]="options"
    >
    </google-map>
  </div>
  <mat-card
    style="width: 33vw"
  >

      <h3>
        Input Latitude and Longitude
      </h3>
      <form action="">
        <table>
          <tr>
            <td>
              <mat-form-field>
                <mat-label>Latitude</mat-label>
                <input matInput [(ngModel)]="center.lat" name="latitude" placeholder="Ex. 37.210388">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-label>Longitude</mat-label>
                <input matInput [(ngModel)]="center.lng" name="longitude" placeholder="Ex. -93.297256">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </form>
      <button class="btn" mat-raised-button (click)="displayMapWeather()">Update Weather</button>
      <mat-card style="margin-top: 5px;">
        <h3>
          Current Weather
        </h3>
        <mat-form-field style="width: 100%">
          <mat-label>Temperature (Degrees Celsius)</mat-label>
          <input matInput [(ngModel)]="currentWeather.current_weather.temperature" name="temperature" placeholder="Ex. 37.210388">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-label>Wind Speed (kmh)</mat-label>
          <input matInput [(ngModel)]="currentWeather.current_weather.windspeed" name="temperature" placeholder="Ex. 37.210388">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <mat-label>Weather Code</mat-label>
          <input matInput [(ngModel)]="currentWeather.current_weather.weathercode" name="temperature" placeholder="Ex. 37.210388">
        </mat-form-field>
      </mat-card>

  </mat-card>
</div>